*{

  padding: 0;
  margin: 0;

}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  text-rending: optimizLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration none;
  transition: all 500ms ease-in-out;
}

a:hover
a:active {
  text-decoration: none;
}

h1{
  font-family: 'PT Sans Narrow', Arial, sans-sarif;
  text-transform: uppercase;
  font-weight: 500;
  color: #1ABC9C;
  text-align: center;
}

p {
  font-size: 16px
  line-height: 21px;
}

.btn:hover {
  background-color: #ededed !important;
  color: #3c3c3c !important;
  border: 1px solid #fff !important;
}

/*NAVIGATION*/
.navbar {
  background-color: #222222 !important;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 700;
}

.navbar a {
  color: #fff !important;
  opacity: 0.7;
}

.navbar a:hover {
  opacity: 1;
  background-color #111111 !important;
}

/*Header*/

.header {
  height: 600px;
  width: 100%;
  padding: 30px 0 30px;
  margin-top: 50px;
  background-image: url("../images/image3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header h1 {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 70px;

}

.header p {
  font-weight: bold;

}

/*Services*/

.services {
  padding: 80px 0 80px;
  text-align: center;
}

.services h2, .services h4 {
  color: #4c4c4c;
  margin: 20px 0 20px;
}

.services p {
  color: #737373;
  font-size:14px;
  padding-bottom: 40px;
}

.services i {
  height: 80px;
  width: 80px;
  font-size: 30px;
  padding: 25px 20px;
  border-radius: 50%;
  background-color: #1ABC9C;
  color: #fff;
}

/*Pricing*/

.pricing {
  padding: 50px 0 80px;
  text-align: center;
  background-image: url("../images/image8.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.pricing h2,
.pricing p {
  color: #fff
}

.pricing p {
  padding-bottom: 40px;
}

.pricing .packages {
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
}

.packages li {
  display: block;
  padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
  color: #4c4c4c;
}

.packages p,
.packages li {
  color: #737373;
}

.packages button {
  margin-top: 10px;
}

/*Team*/

.team {
  padding: 50px 0 80px;
  text-align: center;
}

.team b,
.team h2,
.team h4 {
  margin: 20px 0 20px;
  color: #4c4c4c;
}

.team p {
  color: #737373;
}

/*//Clients*/

.clients {
  padding: 50px 0 80px;
  background-image: url("../images/image2.jpg");
  text-align: center;
  color: #fff;

}

.client h2 {
  color: #5e5e5e;

}

.clients img {
  width: 200px;
  opacity: 0.6;
  cursor: pointer;
  margin: 40px 0;
  transition: all 500ms ease-in-out;
}

.clients li: hover img{
  opacity: 1;
}

/*Contact*/

.contact {
  padding: 50px 0 80px;
  text-align: center;

}

.contact p {
  padding-bottom: 80px;
  color: #737373;

}

.contact h2 {
  color: #4c4c4c;
  margin: 20px 0 20px;

}

.contact .input-group {
  margin-bottom: 25px;
}

.contact .form-control{
  border-radius: 0 !important;
}

.contact span {
  border-radius: 0 !important;
}

.contact .btn {
  border-radius: 0;
  width: 100%;
  font-size: 15px;
  background-color: #f08080;
  color: #fff;

}

.contact .btn:hover {

  background-color: #a85959 !important;
  color: #fff !important;

}

.btn-info{
  color: #fff;
}

/*Footer */

.footer {
  padding: 16px;
  color: #cccccc;
  background-color: #222222;
}

.footer .social {
  font size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  margin-right: 5px;
}

.footer input {
  height: 40px;
  width: 160px;
  padding: 5px;
  border: none;
  background-color: #cccccc;
  color: #000;

}

.footer .btn {

  padding: 10px 5px 10px;
  margin: -3px 0 0 5px;
}

.footer p {
  font-size: 16px;
}

/*Register HTML */
.regHeader{
  height: 400px;
  align-content: center;
  background-image: url('../images/image1.jpg');
}

#firebase{
  align-content: center;
}

/*//Suitcase HTML*/
.suitFont{
  font-family:'Boogaloo', cursive;
}

/*jQuery*/

.form-group{
  width:25%;
  margin-left:20px;
  margin-top: 20px;
}
.button1, .form-check-input{
  margin-left: 20px;
}
/*Id*/
/*#btnLogout{
  float: right;
  margin-right: 10px;
}*/

#delete {
  cursor:pointer;
  float:right;
  color:red;
  font-weight: bold;
}
