body{
  background-color: orange;
  background-blend-mode: lighten;
  height: 1100px;
}

.form-group{
  width:25%;
  margin-left:20px;
  margin-top: 20px;
}
.button1, .form-check-input{
  margin-left: 20px;
}
/*Id*/
/*#btnLogout{
  float: right;
  margin-right: 10px;
}*/

.container-fluid{
  background-image: url('./images/background-img.png');
  background-blend-mode: lighten;
}

.navbar-nav{
  margin-left: 780px;
}

.container-fluid{
  width: 1400px;
}

.fixed-bottom{
  background-color:gray;
  text-align: center;
  padding-bottom: 15px;
  color:white;
}

.p-3 {
  padding: $spacer !important;
}

.itemStyle{
  background-color:gray;
}

#delete {
  cursor:pointer;
  float:right;
  color:red;
  font-weight: bold;
}


#footer{
  background-color:gray;
  text-align: center;
  padding-bottom: 15px;
  color:white;
}
